mat-card {
  max-width: 850px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}

mat-card-header{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.header {
  text-align: center;
}

.full-width {
  width: 90%;
}

.forgot-password {
  padding-left: 0px;
}

.email-input{
  margin-top: 10px;
}

.aLink{
float: right;
padding-right: 60px;
}
.acc-create{
  font-size: small;
}

.register-form{
  display: flex;
  flex-direction: column;
}

.left-section{
  max-width: 400px;
}

.right-section{
  max-width: 400px;
}

.container {
  display: flex;
}

.box {
  flex: 1; /* This makes both boxes take equal space */
  padding: 5px;
  /* border: 1px solid #ccc; */
}
