.container{
  margin-top: 0.8rem;
  padding: 0.4rem;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a {
  background-color: #f0f0f0;
  padding: 0.5rem 1.2rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 500;
  color: #C71585;
  border: 1px solid #C71585;
  cursor: pointer;

}

div a:hover {
  background-color:#C71585;
  padding: 0.5rem 1.2rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 500;
  color: #f0f0f0;
  border: 1px solid #C71585;
  cursor: pointer;
}
