<mat-card>
  <img matCardImage src="../../../../assets//icons/logo.png" style="height: 50px; width: 100px; margin-top: 10px;">

  <mat-card-header>
    <mat-card-title style="font-weight: 600;">LOGIN</mat-card-title>
    <mat-card-subtitle>Login For Recipe Website</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="Login()" name="loginForm" [formGroup]="loginForm">

      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email Adderess </mat-label>
          <input matInput value="" formControlName="email" type="email" placeholder="email@example.com"   required>
          <mat-error style="margin-top: 5px;" *ngIf="isSubmited && loginForm.controls.email.errors?.required ">
            Email Is required

          </mat-error>
          <mat-error style="margin-top: 2px;" *ngIf="isSubmited && loginForm.controls.email.status=='INVALID' ">
            <span >  Email Is Not Valid</span>


          </mat-error>
        </mat-form-field>

      </div>
      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password </mat-label>
          <input matInput value="" formControlName="password" type="password" placeholder="********">
          <mat-error  style="margin-top: 5px;" *ngIf="isSubmited && loginForm.controls.password.errors ">
            Password Is required

          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button class="full-width" style="margin-top: 20px;" type="submit" color="accent">Log In</button>

      <mat-error *ngIf="isSubmited && isErrors" style="margin-top: 20px;">
        Your Password Or Username Required
      </mat-error>

      <mat-error *ngIf="isSubmited && isInvalid" style="margin-top: 20px;">
        Your Password Or Username invalid
      </mat-error>

    </form>
  </mat-card-content>

  <span class="acc-create" style="margin-top: 20px; margin-bottom: 10px;">Dont't have an account? <span routerLink="/user/register" (click)="navigateToSignup()" style="color: crimson; cursor: pointer;">Create an account</span> </span>

  <!-- <mat-card-actions align="start">
        <button mat-button (click)="onAction1">Action1</button>

    </mat-card-actions> -->
  <mat-card-footer>
  </mat-card-footer>
</mat-card>

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
      placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form> -->
