mat-card {
  max-width: 350px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;

}
mat-card-header{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
}

.full-width {
  width: 80%;
}

.forgot-password {
  padding-left: 0px;
}

.email-input{
  margin-top: 10px;
}

.aLink{
float: right;
padding-right: 60px;
}

.acc-create{
  font-size: small;
}
