<header class="header">
  <div class="header-1">

    <a href="#" class="logo">

      <img src="../../../../assets/icons/logo.png" routerLink="/" alt="logo" style="width: 150px;height: 60px; margin-left: 0; ">

    </a>

    <div class="navigation">
        <a class="nav-item-center" routerLink="/home">HOME</a>
        <a class="nav-item-center" routerLink="/favourite-meals">FAVOURITE</a>
    </div>

    <div class="icons">
        <a class="logout">
          <i class="fa fa-sign-out fa-2xl" ></i>
        </a>
    </div>

  </div>
</header>
