<header class="header">
  <div class="header-1">

    <a href="#" class="logo">

      <img src="../../../../assets/icons/logo.png" routerLink="/" alt="logo" style="width: 110px;height: 40px; margin-left: 0; ">

    </a>

    <div class="navigation">
        <a class="nav-item-center" routerLink="/home">HOME</a>
        <a class="nav-item-center" routerLink="/favourite-meals">FAVOURITE</a>
    </div>

    <div class="icons">
        <a class="logout" *ngIf="isUserLogged()" (click)="logout()" >
          <i class="fa fa-sign-out fa-xl" ></i>
        </a>
        <a class="logout"  *ngIf="!isUserLogged()">
          <i class="fa fa-sign-in fa-xl" routerLink="/user/login"></i>

        </a>
    </div>

  </div>
</header>
